@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  background: #23242a;
  text-align: center;
}

h1{
  color: white;
  font-family: 'Poppins', sans-serif;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand{
  color: white
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover{
  color: peachpuff
}